.App {
  text-align: center;
}

.fancy-text {
  background-color: #eed979;
}

.fancy-text-title {
  font-weight: bold;
  color: #1d8488;
}

.fancy-text-content {
  color: #ff0808;
}

.task-generator {
  background-color: #a3670d;
}
.completed-task {
  text-decoration: line-through;
  color: #ff0000;
}

.pending-task {
  font-weight: bold;
  color: #333;
}